:root

/* Начало */
body{
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #ffffff;

}
              /* Точки  и Силки*/
.list{
    list-style: none;
}
.link{
    text-decoration: none;
}


             /* Шапка */
.header {
    background-color: #ffffff;
}

.header-logo {
font-family: "Raleway", sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    display: flex;
    align-items: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
        color: #4D5AE5;
}
.header-studio {
    font-family: "Raleway", sans-serif;
        font-style: normal;
        font-weight: 800;
        font-size: 18px;
        line-height: 1.17;
        display: flex;
        align-items: center;
        letter-spacing: 0.03em;
        text-transform: uppercase;
    color: #2e2f42;
}
.header-link {
    text-decoration: none;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #2E2F42;
}
.header-link:hover,
.header-link:focus{
   color:#404bbf;
}
.address{
    font-style: normal;
}

.Contact-link {
font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #434455;
}
.Contact-link:hover,
.Contact-link:focus{
font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #404BBF;}

/* section1 */
.section-hero{
background-color:#2E2F42;
}
 .hero-title{
font-weight: 700;
font-size: 56px;
line-height: 1.07;
text-align: center;
letter-spacing: 0.02em;
color: #ffffff;
 }

 .button-hero{
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    cursor: pointer;
    align-items: center;
    color: #ffffff;
    background-color: #4D5AE5;
 }
.button-hero:hover,
.button-hero:focus{
    background-color:#404BBF ;
}
 /* section2 */
 .feature-subtitle{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2E2F42;
 }

 .feature-text{
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color:#434455;
 }
 /* section3 */
.product-title{
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2E2F42;
}

/* section4 */
 .team-section{
        background-color: #F4F4FD;
 }

 .team-item{
    background-color: #ffffff;
 }

.team-title{
    font-weight: 700;
        font-size: 36px;
        line-height: 1.11;
        text-align: center;
            letter-spacing: 0.02em;
            text-transform: capitalize;
            color: #2E2F42;
}

.team-subtitle{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2E2F42;
}

.team-text{
    font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
}

/* footer */

.footer{
        background-color: #2E2F42;
}

.footer-text{
    font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #F4F4FD;
}

.footer-logo {
    font-family: "Raleway", sans-serif;
    font-weight: 800;
        font-size: 18px;
        line-height: 1.17;
        display: flex;
        align-items: center;
        letter-spacing: 0.03em;
        text-transform: uppercase;
    color:#4d5ae5;
}

.footer-studio {
    
font-family: "Raleway", sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
line-height: 1.17;
display: flex;
align-items: center;
letter-spacing: 0.03em;
text-transform: uppercase;
color: #f4f4fd;
}



/* portfolio */
.button-link{
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    cursor: pointer;
    background-color: #F4F4FD;
    color: #4d5ae5;
}

.button-link:hover,
.button-link:focus{
    color: #FFFFFF;
    background-color: #404BBF;
}

.photo-title{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;

}
.photo-text{
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}
